@import "../../styles/colors.scss";

.loginWrap {
  flex-direction: column;
  justify-content: space-between;
  display: flex;
  min-height: 100vh;

  .form {
    flex-direction: column;
    align-self: center;
    display: flex;
    border-radius: 8px;
    box-shadow: 0px 1px 3px -1px $black;
    width: 400px;
    padding: 40px;
    background-color: $white;

    h2 {
      font-weight: 600;
      font-size: 20px;
      text-transform: uppercase;
      text-align: center;
      color: $primaryDark;
    }

    button {
      margin-top: 32px;
    }

    .link {
      margin-top: 16px;
      cursor: pointer;
      text-align: center;
      text-transform: lowercase;
      color: $primary;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
