@import "./colors.scss";

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
  background-color: $background;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

input[type="password"],
input[type="email"],
input[type="text"] {
  border: 1px solid $primaryLight;
  border-radius: 4px;
  padding: 0px 40px 0px 8px;
  line-height: 40px;

  &:focus {
    outline-color: $primaryLight;
  }
}

button {
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: $primary;
  line-height: 60px;
  font-size: 16px;
  color: $white;

  &:hover {
    opacity: 0.9;
  }

  &:disabled {
    background-color: $disabledBackground;
    opacity: 1;
    color: $disabledColor;
    cursor: initial;
  }
}
